h1 {
    text-align: center;
 }
 
 .chrono {
    margin: auto ;
    width: 300px;
    text-align: center;
 }
 @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
 .timer {
	 background-color:#333;
	 color:white;
    margin: auto;
    width: 300px;
    padding:5px 0;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
	font-family: 'Rubik Mono One', sans-serif;
 }
 
 #save {
    margin-top: 10px;
 }

 @media print { 

	.chrono {
	   display: none;
	}
	h1{
		display:none;
	}
	#history{
		border:solid 10px black;
	}
}
#history{
	display:flex;
	align-items:center;
	justify-content: center;
}
